<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title class="title">Contact Pet Finder</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link href="./css/style2.css" rel="stylesheet">
</head>

<body>

  <ul>

    <div class="navText">
      <li><a class="active" href="index.html">🐾</a></li>
      <li><a class="active" href="ifound.html">I Found a Pet</a></li>
      <li><a class="active" href="ilost.html">I Lost a Pet</a></li>
      <li><a class="active" href="lostDisplay.html">Lost Pets List</a></li>
      <li><a class="active" href="foundDisplay.html">Found Pets List</a></li>
      <li><a class="active orangeHead" href="contact.html">About/Contact/FAQ</a></li>
    </div>
  </ul>

  <div class="container">

      <!-- <div class="col-md-11"> -->

      <div class="contactContainer">

        <div class="row dogPicture">

          <div class="col-md-5">

            <img src="./images/fido.png" class="fido">

          </div>

          <div class="col-md-7">

            <div class="aboutText">About</div>

          </div>

        </div>

        <!-- Second row, one column -->
        <div class="row">

          <div class="col-md-12">

            <div class="aboutDescrip">

              Dedicated to bringing your beloved pet home, The Pet Finder™ is a non-profit organization based in Denver, Colorado. Using our top of the line technologies, we'll make sure to get your pet back home to you as quick as possible. Our website is free to use, and allows you to know that your neighbors are going to keep their eye out for your pet.

              <br>
              <br>

              Make sure to navigate to our <a href="ilost.html">"I lost a pet"</a> or <a href="ifound.html">"I found a pet"</a> pages to report a missing animal. We also have a convienent <a href="lostDisplay.html"> "lost pets"</a> and <a href="foundDisplay.html"> "found pets"</a> list to help you see if your pet has already been reported or found.

              <br>
              <br>

              If you have any questions about how our site works, feel free to use our contact form below, and we'll make sure to get back to you as soon as possible.

            </div>

          </div>

        </div>

  </div>

  <div class="faqContainer">

     <div class="row dogPicture">

        <div class="col-md-7">

          <div class="faqText">FAQ</div>

        </div>

        <div class="col-md-5">

          <img src="./images/tabbycat.png" class="tabby">

        </div>

      </div>

      <!-- Second row, one column -->
      <div class="row">

        <div class="col-md-12">

            <div class="aboutDescrip">

            <b>Q. What do I do if I find a lost pet that doesn't have a collar?</b>
            <br>

            A. Carefully approach the animal. Your safety should always come first. Don't approach a vicious or unwelcoming animal. When in doubt, call Animal Contorl or your local police station to help the scared animal.

            <br>
            <br>

            <b>Q. I've safely rescued the lost pet. It seems domesticated, but there isn't a collar. How do I help them get home?</b>
            <br>

            A. Once the pet is in a safe place, bring them immediately to the nearest vet to have them scanned for a microchip. The longer you keep the pet away from its home, the more worried its parents will be!

            <br>
            <br>

            <b>Q. What is a microchip? How does it work?</b>
            <br>

            A. The only way to tell if an animal is microchipped is to bring it to a licensed vet. There, they have the ability to scan the animal's neck to see if there is a microchip already inserted. If so, the pet's chip will be registered to an owner, whom the vet will be able to help you contact.

            <br>
            <br>

            <b>Q. I've brought the pet to the vet, but there isn't a microchip. What now?</b>
            <br>

            A. Use our <a href="ifound.html">"I found a lost pet"</a> form to submit the information as accurately as possible for the owners to use to try and find their pet again.

            <br>
            <br>

            <b>Q. Help! I've lost my pet and didn't get them a microchip!</b>
            <br>

            A. Don't worry, that's where our <a href="ilost.html">"I lost my pet"</a> form comes in handy. Post your pets information with a recent photo, including the last place you saw them. Include means to contact you should your pet be found so that you can bring Fido home. We know how scary this process can be, but with the proper resources and keeping an eye out for our furry friends, we can all help return our fur babies to their homes.

            <br>
            <br>

            <b>Q. What if I have a question that's not listed here?</b>
            <br>

            A. Use our contact forum below to leave us a message with your question, and we'll make sure to get back to you as soon as possible. If you have a life or limb threatening emergency, dial 911 immediately.

            </div>





<br>
<br>





        <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">Contact The Pet Finder™</div>
          <div class="panel-body">
            <form class="form-horizontal">

              <div class="form-group row">
                <label class="control-label col-sm-2" for="userName">Your Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="userName" placeholder="Johnny Appleseed">
                </div>
              </div>

              <div class="form-group row">
                <label class="control-label col-sm-2" for="emailFound">Email:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="emailFound" placeholder="youremail@example.com">
                </div>
              </div>

              <div class="form-group row">
                <label class="control-label col-sm-2" for="comment">Message:</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3" id="commentFound"></textarea>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <!-- close panel body -->
        </div>
        <!--close panel  -->
      </div>
      <!-- close col -->
    </div>
      <!-- close row -->
</div>
<!-- container -->

</div>




</div>

</body>


<style media="screen">
  .panel {
    margin-top: 40px;
  }

  body {
 background: url('./images/plant.jpg') no-repeat center center fixed;
 background-size: cover;
}
</style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
