<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title class="title">Lost Pet Finder</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Asap+Condensed:500|Questrial" rel="stylesheet">

  <link href="./css/style2.css" rel="stylesheet">
</head>

<body>

  <ul class="setMarginNav">
    <div class="navText">
      <li><a class="active" href="index.html">🐾</a></li>
      <li><a class="active" href="ifound.html">I Found a Pet</a></li>
      <li><a class="active" href="ilost.html">I Lost a Pet</a></li>
      <li><a class="active orangeHead" href="lostDisplay.html">Lost Pets List</a></li>
      <li><a class="active" href="foundDisplay.html">Found Pets List</a></li>
      <li><a class="active" href="contact.html">About/Contact/FAQ</a></li>
    </div>
  </ul>

  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  More Info
</button>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pet Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        -Pet Name:<br>
        -Pet Owner's Email:<br>
        -Pet Owner's Phone:<br>
        -Pet Owner's Location:<br>
        -Type of Animal Lost:<br>
        -Date Pet Was Lost:<br>
        -Gender of Pet:<br>
        -Pet Owner's Comment:<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

  <div class="container">

  <div class="row">
      <div class="col-md-12">
        <h1 class="resHead found-lost-pets-index-title">Lost Pets</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 lost-container">
        </div>
    </div>
  </div>

<style media="screen">
  .panel {
    margin-top: 40px;
  }

  body {
 background: url('./images/pug.jpg') no-repeat center center fixed;
 background-size: cover;
}
</style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./js/lostDisplay.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
</body>

</html>
